<div class="row">

  <%= form_for [@event, @section], remote: true do |f| %>
  <div class="col-md-12">
    <%= render 'sections/error_messages' %>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content , size: "30x10", class: 'form-control', placeholder: "Provide content here." %>
        <%= f.hidden_field :event_id %>
    </div>
  </div>
  <div class="col-md-2">
    <%= f.submit t('forms.add'), class:'btn btn-primary' %>
  </div>
  <% end %>
</div>


