<table class="table">
  <tr>
    <th>
      <%= t 'guests.name' %>
    </th>
    <th>
      <%= t 'guests.email' %>
    </th>
    <th>
      <%= t 'guests.attending' %>
    </th>
    <th>
      <%= t 'guests.notified' %>
    </th>
  </tr>
  <% @event.guests.each do |guest| %>
    <tr>
      <td>
        <%=  guest.name %>
      </td>
      <td>
        <%= guest.email %>
      </td>
      <td>
        <% if guest.attending %>
           <span class="glyphicon glyphicon-ok attending" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <% if guest.notified %>
           <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <% end %>
      </td>
      <td>
        <button class="btn btn-default" ><%= t('forms.edit') %></button>
      </td>
    </tr>
  <% end %>
</table>

