<h3>Sections</h3>

<% if @event.sections.count < 5 %>
  <%= render 'sections/form' %>
<% end %>
<div id="new-section"></div>
<div class="row">
<div class="col-md-12">
  <p class="bg-success"><%= t 'sections.notes' %></p>
</div>
<div class="list-unstyled col-md-12 sortable">
  <% @event.sections.each do |section| %>
    <div class="panel panel-default"  data-id="<%= section.id %>">
      <div class="panel-heading">
        <h3 class="panel-title">   <%= section.id %>  - <%= section.title %></h3>
      </div>
      <div class="panel-body">
        <%= truncate section.content , length: 300 %>
      </div>
    </div>
  <% end %>
</div>
</div>


<script>

var ready, set_positions;

set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('.panel.panel-default').each(function(i){
        $(this).attr("data-pos",i+1);
    });
}

ready = function(){

    // call set_positions function
    set_positions();

    $('.sortable').sortable();

    // after the order changes
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        updated_order = []
        // set the updated positions
        set_positions();

        // populate the updated_order array with the new task positions
        $('.panel.panel-default').each(function(i){
            updated_order.push({ id: $(this).data("id"), position: i+1 });
        });

        // send the updated order via ajax
        $.ajax({
            type: "PUT",
            url: '/sections/sort',
            data: { sort_order: updated_order }
        });
    });
}

$(document).ready(ready);


</script>
