<h2><%= @event.name %></h2>
<%= link_to event_path @event do %>
      <button class="btn btn-default switch-views"><%= t 'events.view_as_guest' %></button>
<% end %>

<ul class="nav nav-tabs event-options" id="event">
  <li><a data-toggle="tab" href="#details"><%= t '.event_details' %></a></li>
  <li><a data-toggle="tab" href="#sections"><%= t '.sections' %></a></li>
  <li class="active"><a data-toggle="tab" href="#guests"><%= t '.guests' %></a></li>
  <li><a data-toggle="tab" href="#options"><%= t '.options' %></a></li>
</ul>

<div class="tab-content">
  <div id="details" class="tab-pane fade">
     <%= render  "edit" %>
  </div>
  <div id="sections" class="tab-pane fade">
     <%= render  "sections" %>
  </div>
  <div id="guests" class="tab-pane fade in active">
    <%= render  "guests" %>
  </div>
  <div id="options" class="tab-pane fade">
    <%= render  "options" %>
  </div>
</div>



  <script>
    $('#event a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });

    // store the currently selected tab in the hash value
    $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
        var id = $(e.target).attr("href").substr(1);
        window.location.hash = id;
    });

    // on load of the page: switch to the currently selected tab
    var hash = window.location.hash;
    $('#event a[href="' + hash + '"]').tab('show');

</script>
