
<%= form_for @rsvp_option do |f| %>

  <ul class="list-unstyled">
    <li>
      <div class="form-group">
        <%= f.label :option_name, t('rsvp_options.name') %>
        <%= f.text_field :option_name %>
      </div>
      <ul class="unstyled-list">
        <%= f.fields_for :rsvp_option_values do |values_form| %>
          <li>
            <div class="form-group">
              <%= values_form.label :value, t('rsvp_options.values') %>
              <%= values_form.text_field :value %>
            </div>
          </li>
        <% end %>
        <%= f.submit t('forms.add'), class:'btn btn-primary' %>
      </ul>
    </li>
  </ul>
<% end %>


